Repository NorESMhub/BLOM, pull requests merged in 2024-09, with the labels that each got.

#392 Change M4AGO tag to dev-1.0.1
  Externals_BLOM.cfg
Labels: Externals

#393 Change M4AGO tag to dev-1.0.1
  Externals_BLOM.cfg
Labels: Externals

#402 fix sedfluxb for release-1.6 branch
  hamocc/mo_carbch.F90
Labels: bug

#403 update dms exchange and simplify file opens
  ben02/mod_ben02.F90
  channel/mod_channel.F90
  cime_config/buildcpp
  cime_config/buildnml
  drivers/mct/ocn_comp_mct.F90
  drivers/nocoupler/blom.F
  drivers/noforc/blom.F
  drivers/nuopc/ocn_comp_nuopc.F90
  drivers/nuopc/ocn_import_export.F90
  hamocc/mo_hamocc_init.F90
  phy/mod_budget.F90
  phy/mod_dia.F90
  phy/mod_diffusion.F90
  phy/mod_geoenv.F90
  phy/mod_idarlx.F90
  phy/mod_rdlim.F90
  phy/mod_restart.F90
  phy/mod_vcoord.F90
  phy/mod_xc.F90
Labels: enhancement
